
.root {
    font-family: "JetBrains Mono", monospace;
    /* CSS HEX */
    --white: #FFFFFFFF;
    --black: #000000FF;
    --skobeloff: #006466ff;
    --midnight-green-eagle-green: #2a7432ff;
    --midnight-green-eagle-green-2: #127e8c;
    --midnight-green-eagle-green-3: #144552ff;
    --charcoal: #1b3a4bff;
    --prussian-blue: #212f45ff;
    --space-cadet: #272640ff;
    --dark-purple: #312244ff;
    --russian-violet: #3e1f47ff;
    --russian-violet-2: #4d194dff;
    --byzantine: #B5179E;
    --dark-red: #780206;
    --yellow: #f48c06ff;
    --project-bacground: #252525;
    --line-height: 1.7rem;
    --transition: 0.2s ease-in;
}

/* Resets */
* {
    margin: 0;
    padding: 0;
    transition: var(--transition);
}

*, *::before, *::after {
    box-sizing: border-box;
}
html,body{
    overflow-x: hidden;
}
body {
    font-size: medium;
    scroll-behavior: smooth;
    display: block;
    font-family: "JetBrains Mono", monospace;
}

h2 {
    color: var(--white);
    font-size: 100px;
    text-align: center;
    text-transform: capitalize;
    margin: 1.5rem;
}

#background {
    background-color: #0a0909;
    background-image: linear-gradient(225deg, #0a0909 0%, #151516 50%, #000000 100%);
    position: sticky;

}


/* Nav section styles*/
#navbar-section-container ul {
    list-style-type: none;
    flex-flow: row wrap;
    gap: 1rem;
    display: flex;
    justify-content: center;
    margin: 10px;

}

.navbar-toggler {
    color: #fff;
    border-color: rgba(255, 255, 255, .1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 2em;
    transition: box-shadow .15s ease-in-out;
}

button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    cursor: pointer;
}

.nav-items {
    justify-content: end;
}

.navbar h1 {
    font-size: 2.5rem;
    color: var(--skobeloff);

}

#logo {
    font-size: 4rem;
    align-items: center;
}

.logo:hover {
    background-color: #e52d27;
    background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
}

#navbar-section-container a {
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 1.2rem;
    color: var(--white);
}

#navbar-section-container a:hover {
    background-color: #e52d27;
    background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
    color: var(--black);
    text-transform: full-width;

}

#content {
    width: auto;
    height: auto;

}

.fa-napster {
    font-size: 100%;
}

i {
    font-size: 150%
}

.resume-link {
    background-color: var(--midnight-green-eagle-green);
    border-radius: 1rem;
    cursor: pointer;
}


/* Hero Section styles */
#hero-section-container {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    height: 100%;
    min-height: 100vh;
    font-family: "JetBrains Mono", monospace;
    width: 100%;
    justify-content: center;

}

#hero-section-container img {
    height: 350px;
    width: 350px;
    align-self: center;
    border-radius: 180px;
}

.hero-image {
    text-align: center;
    margin-top: 100px;
    width: 100%;
    height: auto;
    min-width: 300px;

}

.hero-image img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgb(255, 255, 255), 0 4px 8px rgb(143, 18, 143);

}

.hero-text {
    font-family: "JetBrains Mono ExtraBold", monospace;
    color: var(--white);
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.hero-text h1 {
    font-weight: bold;
    font-size: 200px;
    color: var(--white);
    font-family: "JetBrains Mono ExtraBold", monospace;
}

.hero-text h2 {
    text-align: center;
    font-size: 150px;
    font-family: "Roboto Light", sans-serif;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* About section started*/
#about-section {
    width: 100%;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    padding: 0 100px 0;
    font-family: "JetBrains Mono", monospace;
    position: relative;
    top: 0;
    transition: 1s;
}


.about {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 60%;
    grid-gap: 40px;
}

.about-image-container {
    position: relative;
    align-self: center;
}

.about-text-container {
    align-self: center;
    position: static;
}

.about-text {
    text-align: left;
    color: white;
    opacity: 0.6;
    font-size: 20px;
    line-height: 40px;
    position: static;
}

.about-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.download-resume-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50px);
    padding: 10px 20px;
    color: var(--white);
    border: none;
    font-size: 16px;
    text-transform: capitalize;
    align-self: center;
    cursor: pointer;
    transition: .5s;
    background: rgba(0, 0, 0, 0.5);

}

.download-resume-btn:hover {
    background-color: #e52d27;
    background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
}
/** About section ended **/

/* Skills Section started*/
.skill-section {
    position: relative;
    margin: 100px 0;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

.skills-heading {
    text-align: center;
    font-size: 60px;
    color: var(--white);
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 100px;
}

.skills-container {
    width: 95%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    grid-gap: 100px;
    color: var(--white);
}

.skill-card {
    position: relative;

}

.skill-img {
    display: block;
    margin: auto;
    height: 200px;
}

.skill-name {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
    margin: 30px 0 20px;
}

.skill-info {
    text-align: center;
    opacity: 0.5;
    font-size: 18px;
    line-height: 30px;
}

.skill-level {
    position: absolute;
    top: 80px;
    right: 0;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 50%;
    border: 10px solid;
}

.skill-card:nth-child(1) .skill-level {
    background: #ff4f4f28;
    border-color: #ff4f4f;
    color: #ff4f4f;

}

.skill-card:nth-child(2) .skill-level {
    background: #ff4f4f28;
    border-color: #4fa0ff;
    color: #4fa0ff;
}

.skill-card:nth-child(3) .skill-level {
    background: #ff4f4f28;
    border-color: #3d3d;
    color: #3d3d;
}

.skill-card:nth-child(4) .skill-level {
    background: #f2f2;
    border-color: #961faf;
    color: #961faf;
}

.skill-card:nth-child(5) .skill-level {
    background: #ff4f4f28;
    border-color: #4e00fd;
    color: #4e00fd;
}

.skill-card:nth-child(6) .skill-level {
    background: #ff4f4f28;
    border-color: #fdea00;
    color: #fdea00;
}

/* Skills section ended*/

/* Education section started*/
.education {
    display: block;
    width: 50%;
    height: 50%;
    margin: 100px auto;
}

.education strong {
    color: var(--black);
}

.education-heading {
    text-align: center;
    font-size: 50px;
    color: var(--white);
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 150px;
}

.education-card {
    width: 45%;
    height: 300px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: var(--white);
    display: block;
    position: relative;
    background: var(--midnight-green-eagle-green);
}

.education-card:nth-child(even) {
    margin-left: auto;
}

.card-title p {
    margin-bottom: 0;
    font-size: 100px;
}

.education-card:nth-child(even):before {
    content: '';
    position: absolute;
    left: -15%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid var(--black);
}

.education-card:nth-child(even):after {
    content: '';
    position: absolute;
    left: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: var(--white);
    z-index: -1;
}

.education-card:nth-child(odd):before {
    content: '';
    position: absolute;
    right: -13%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid var(--black);
}

.education-card:nth-child(odd):after {
    content: '';
    position: absolute;
    right: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: var(--white);
    z-index: -1;
}

.education-card:nth-child(2), .education-card:nth-child(1):before {
    background: rgba(98, 240, 22, 0.86);
}

.education-card:nth-child(2), .education-card:nth-child(2):before {
    background: #ff4f4f;
}

.education-card:nth-child(3), .education-card:nth-child(3):before {
    background: #68c5dc;
}

.education-card:nth-child(4), .education-card:nth-child(4):before {
    background: #7b2eac;
}

.education-card:nth-child(5), .education-card:nth-child(5):before {
    background: #afdb13;
}

.education-card:nth-child(6), .education-card:nth-child(6):before {
    background: #ff4f7b;
}

.education-card:nth-child(7), .education-card:nth-child(7):before {
    background: #f8d3a6;
}

.card-detail {
    font-weight: 300;
    font-size: 1.2vw;
    margin-bottom: 20px;
}

/* Timeline section ended */

/* Project section started */
#project-section-container {
    min-height: 100vh;
    padding: 2rem;
    width: 100%;
    top: 0;
    transition: 1s;
}

#project-section-container strong {
    color: var(--black);
}

.project-heading {
    text-align: center;
    font-size: 100px;
    text-transform: capitalize;
    position: relative;
    font-weight: 300;
    margin-bottom: 50px;
    color: var(--white);
}

.project-card-container {
    display: grid;
    margin: 50px auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;

}

.project-card {
    height: 400px;
    width: 100%;
    border-radius: 20px;
    position: relative;
}

.project-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: .5s;
}

.project-content {
    position: relative;
    padding: 20px;
    color: var(--white);
    transition: .5s;
    opacity: 0;
}

.project-tittle {
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
}

.project-info {
    margin: 40px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.project-card:hover .project-img {
    filter: blur(20px);
}

.project-card .project-content:hover {
    opacity: 1;
}

.project-atb {
    text-decoration: none;
}

/*Contact section started*/

.contact-section {
    font-size: 20px;
    position: relative;
    top: 0;
    transition: 1s;
    padding: 100px 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    color: var(--white);
}

#contact-section-container {
    min-height: 100vh;
}

form input, form textarea {
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 30px;
    border: 1px solid var(--white);
    text-transform: capitalize;
    color: var(--white);
    padding: 5px 10px;

}

::placeholder {
    color: var(--white);
}

#message {
    height: 280px;
    resize: none;
    font-family: "JetBrains Mono", monospace;
}

.map {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 2px solid var(--white);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.map iframe {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


form .submit {
    background-color: var(--midnight-green-eagle-green);
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}

form .submit:hover {
    background-color: #e52d27;
    background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
    color: var(--black);
    transition: 0.5s;
    border-radius: 1rem;


}
/* Contact section ended */


/* Footer Section Started */
footer {
    display: block;
    text-align: center;
    margin: 0;
    color: var(--white);
    padding: 4rem 0;
}

section footer {
    min-height: fit-content;
}

footer ul {
    list-style-type: none;
    display: flex;
    margin: 1rem;
    padding: 0;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-family: oxygen, sans-serif;
    gap: 3rem;
    font-size: 3rem;


}

footer a:hover {
    color: #e52d27;
    opacity: 0.8;
}

footer [class*="fa-"] {
    font-size: 100%;
}

footer ul:hover {
    color: #F76B1C;
}

footer h3 {
    margin-top: 1rem;
}

/* Footer section ended */


/* Gradient to separate the sections */

.section-gradient-separator {
    border-radius: 1rem;
    height: 0.2rem;
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);

}


/* media queries for small screens */

@media only screen and (max-width: 768px) {

    .hero-image {
        position: center;
        margin: 0 auto;
    }

    #hero-section-container img {
        height: 200px;
        width: 200px;
        align-self: center;
        border-radius: 180px;
        margin-top: 150px;
    }

    #hero-section-container {
        max-height: fit-content;
        flex-flow: column;
        min-height: fit-content;
        width: 100%;
    }

    .hero-text {
        margin-bottom: 150px;
    }

    .hero-text h2 {
        width: 100%;
        margin: 0 auto;
        font-size: 60px;
    }

    .hero-text h1 {
        font-size: 80px;

    }

    body {
        padding: 0;
        margin: 0 auto;
    }

    .about {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 40px;
    }

    .about-text-container {
        align-self: start;
        position: static;
        height: 50%;
    }


    .card-container {
        flex-direction: column;
        font-size: 50%;
    }

    h2 {
        font-size: 50px;
    }

    .skills-container {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(2, 1fr);

        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .skill-card {
        margin: 0 auto;
        padding: 0;
    }

    .skill-img {
        height: 100px;
    }

    .skill-level {
        position: absolute;
        top: 80px;
        right: 0;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 11px;
        border-radius: 50%;
        border: 10px solid;
    }

    .skill-name {
        font-size: 20px;
        margin: 50px 0 20px;
    }

    .skill-section {
        margin: 50px 0;
    }


    .card-body h1 .card-title {
        font-size: 10px;
        margin-bottom: 0;
    }

    .card-body {
        padding: 0;
    }

    .card-detail {
        margin-bottom: 0;
    }

    .card-body p {
        margin: 10px auto;
        font-size: 15px;

    }

    .education {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .card-body {
        margin-top: 20px;
    }

    #project-section-container {
        font-size: 50%;
        margin: 0 auto;
    }

    .project-card-container {
        display: flex;
        flex-direction: column;
        flex-flow: column;
        grid-gap: 20px;

    }

    .project-card {
        height: 200px;
        width: 100%;
        border-radius: 10px;
    }

    .project-content {
        padding: 20px;
    }

    .contact-section {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-content: center;
        align-items: center;
        min-height: fit-content;
    }

    form input, form textarea {
        width: 100%;
        height: 40px;
        font-size: 20px;
    }


}

@media (min-width: 768px) {

    .skill-level{
        margin: 10px;
    }
    .skills-container{
        justify-content: center;
    }

    .navbar-toggler {
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 2em;
        transition: box-shadow .15s ease-in-out;
    }
}
@media screen and (max-width: 568px) {
    #hero-section-container{
            display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-content: center;
        align-items: center;
    }
    .education-card {
        width: 45%;
        height: 200px;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
    }
     .card-header {
        font-size: 8px;
        margin-bottom: 0;
    }
    .card-body p {
        margin: 20px auto;
        font-size: 10px;
    }
    .contact-section {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-content: center;
        align-items: center;
        min-height: fit-content;
    }

    form input, form textarea {
        width: 100%;
        height: 30px;
        font-size: 15px;
    }

}






