
.root {
    font-family: "JetBrains Mono", monospace;
    /* CSS HEX */
    --white: #FFFFFFFF;
    --black: #000000FF;
    --skobeloff: #006466ff;
    --midnight-green-eagle-green: #2a7432ff;
    --midnight-green-eagle-green-2: #127e8c;
    --midnight-green-eagle-green-3: #144552ff;
    --charcoal: #1b3a4bff;
    --prussian-blue: #212f45ff;
    --space-cadet: #272640ff;
    --dark-purple: #312244ff;
    --russian-violet: #3e1f47ff;
    --russian-violet-2: #4d194dff;
    --byzantine: #B5179E;
    --dark-red: #780206;
    --yellow: #f48c06ff;
    --line-height: 1.7rem;
    --transition: 0.2s ease-in;
}

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);

}

body {
    font-size: medium;
    scroll-behavior: smooth;
    display: block;

    font-family: "JetBrains Mono", monospace;

}

#background {
    background-color: black;
}

/*section {*/
/*    min-height: 100vh;*/
/*}*/

section footer {
    min-height: fit-content;
}

/* Nav section styles*/
#navbar-section-container ul {
    list-style-type: none;
    flex-flow: row wrap;
    gap: 1rem;
    display: flex;
    justify-content: center;

}

.navbar h1 {
    font-size: 4rem;
    color: var(--skobeloff);
}

#logo {
    font-size: 4rem;
    align-items: center;
}

.logo:hover {
    background-color: #e52d27;
    background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
}

#navbar-section-container a {
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    margin: 0 auto;
    font-size: 1.2rem;
    color: var(--white);
}

#navbar-section-container a:hover {
    background-color: #e52d27;
    background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
    color: var(--black);
    text-transform: full-width;
    border-radius: 1rem;
}


#content {
    width: auto;
    height: auto;

}

.fa-napster {
    font-size: 100%;
}

i {
    font-size: 150%
}

.resume-link {
    background-color: var(--midnight-green-eagle-green);
    border-radius: 1rem;
}


/* Hero Section styles */
#hero-section-container {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    padding: 1rem;
    height: 100%;
    min-height: 100vh;
    justify-content: center;

}

#hero-section-container img {
    height: 350px;
    width: 350px;
    align-self: center;
    border-radius: 180px;
}

.hero-image {
    text-align: center;

}

.hero-image img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.hero-text {
    font-family: "JetBrains Mono ExtraBold", monospace;
    color: var(--white);
    text-align: center;
    display: flex;
    flex-flow: column;

}

#hero-image-container {
    width: 100%;

    height: auto;
    min-width: 300px;
}

#hero-section-container h3 {

    font-size: 20vw;
    color: var(--white);
    font-family: "JetBrains Mono Medium", monospace;
}

#hero-section-container h4 {
    font-family: Staa, cursive;
    text-align: center;
    font-size: 10vw;


    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* About section started*/

#about-section {
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 0;
    position: relative;
    top: 0;
    transition: 1s;
}

.about {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 90px;
}

.about-image-container {
    position: relative;

}

.about-text {
    color: white;
    opacity: 0.6;
    font-size: 20px;
    line-height: 40px;
}

.about-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;

}

.download-resume-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50px);
    padding: 10px 20px;
    color: var(--white);
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s;
    background-color: var(--black);

}

.download-resume-btn:hover {
    background-color: #e52d27;
    background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
}

/*About section ended */

/* Project Section */
#project-section-container {
    color: var(--black);
    background: hsla(205, 46%, 10%, 1);

    background: linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0E1C26", endColorstr="#2A454B", GradientType=1);
    margin: 2rem 0 2rem 0;
    min-height: 100vh;
    padding: 1rem;

}

header {
    text-align: center;
    font-size: 4rem;
    color: var(--white);
    font-weight: bold;
}

.card-body a {
    text-decoration: none;

}

.card-body i {
    padding: 1rem;

}

.card-body h6 {
    text-align: center;
    background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
    transition: 0.5s;
    background-size: 200%;
    color: white;
    display: block;
}


.card-body h6:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

#project-section-container strong {
    padding: 1rem;
    color: var(--yellow);
}

.card-body {
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.card-body h6 {
    border-radius: 2rem;
    text-align: center;
    background-color: var(--russian-violet);
    color: var(--white);
}

.card-body ul {
    display: flex;
    flex-flow: row;
    gap: 1.5rem;
    align-content: center;
    justify-content: center;

}

.img-thumbnail {
    width: 100%;

}

.technologies-list {
    color: var(--white);

}

.card-container {
    display: flex;
    margin: 2rem auto;
    padding: 2rem;
    flex-flow: row;
}

.card {
    margin: 1rem;
    background-color: var(--space-cadet);
}

.card-title {
    font-size: 1.5rem;
}

.card-image img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);

}

.card-body h6 {
    font-weight: bold;
}

.card-project-type {
    margin: 1rem 0 1rem 0;

}

#project-section-container a:hover {
    opacity: 0.8;
}

/*Contact section started*/

#contact-section-container {
    background: hsla(23, 41%, 9%, 1);

    background: linear-gradient(90deg, hsla(23, 41%, 9%, 1) 0%, hsla(18, 16%, 53%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(23, 41%, 9%, 1) 0%, hsla(18, 16%, 53%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(23, 41%, 9%, 1) 0%, hsla(18, 16%, 53%, 1) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1F140D", endColorstr="#9B8074", GradientType=1);
    display: block;
    padding: 1rem;
    font-size: 1.5vw;
    color: var(--white);
    margin: 2rem 0 2rem 0;

}

.form-container {
    margin: 0 auto;
    display: table;
    padding: 1rem;
}

form {
    width: 100%;
    padding: 2rem;
    border: 2px solid var(--midnight-green-eagle-green-3);
    background-color: var(--prussian-blue);
}

.form-container td {
    padding: 1rem;

}

.form-container input, [type="text"] {
    width: 100%;
}

textarea {
    width: 100%;
}


form .submit {
    background-color: var(--midnight-green-eagle-green);
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--white);


}

form .submit:hover {
    background-color: #e52d27;
    background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
    color: var(--black);
    transition: 0.5s;
    border-radius: 1rem;


}

/* Contact section ended */


/* Footer Section Started */
footer {
    display: block;
    text-align: center;
    margin: 0;

    color: var(--white);
    padding: 4rem 0;
}


footer ul {
    list-style-type: none;
    display: flex;
    margin: 1rem;
    padding: 0;
    flex-flow: row wrap;
    justify-content: center;

    align-items: center;
    font-family: oxygen, sans-serif;
    gap: 3rem;
    font-size: 3rem;


}

footer a:hover {
    color: #e52d27;
    opacity: 0.8;
}

footer [class*="fa-"] {
    font-size: 100%;

}

footer ul:hover {
    color: #F76B1C;
}

footer h3 {
    margin-top: 1rem;
}

/* Footer section ended */


/* Gradient to separate the sections */

.section-gradient-separator {
    border-radius: 1rem;
    height: 0.2rem;
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);


}


/* media queries for different screens */

@media screen and (max-width: 720px) {
    body {
        font-size: 50%;
    }


    .hero-text h1, h2 {
        font-size: 50%;
    }

    .card-container {
        flex-direction: column;

        font-size: 50%;
    }

    /*.navbar span {*/
    /*    font-size: 2rem;*/
    /*    color: #F76B1C;*/
    /*    display: initial;*/
    /*}*/

}

@media screen and (min-width: 720px) {
    .col-md-2 .col-xl-3 .card-body {
        overflow: auto;
    }

}


