
.root {
    font-family: "JetBrains Mono", monospace;
    /* CSS HEX */
    --white: #FFFFFFFF;
    --black: #000000FF;
    --skobeloff: #006466ff;
    --midnight-green-eagle-green: #2a7432ff;
    --midnight-green-eagle-green-2: #127e8c;
    --midnight-green-eagle-green-3: #144552ff;
    --charcoal: #1b3a4bff;
    --prussian-blue: #212f45ff;
    --space-cadet: #272640ff;
    --dark-purple: #312244ff;
    --russian-violet: #3e1f47ff;
    --russian-violet-2: #4d194dff;
    --byzantine: #B5179E;
    --dark-red: #780206;
    --yellow: #f48c06ff;
    --project-bacground: #252525;
    --line-height: 1.7rem;
    --transition: 0.2s ease-in;
}

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);

}

body {
    font-size: medium;
    scroll-behavior: smooth;
    display: block;
    font-family: "JetBrains Mono", monospace;

}

h2 {
    color: var(--white);
    font-size: 4vw;
    text-align: center;
    text-transform: capitalize;
    margin: 2rem;
}

#background {
    background-color: black;

}

/*section {*/
/*    min-height: 100vh;*/
/*}*/

section footer {
    min-height: fit-content;
}

/* Nav section styles*/
#navbar-section-container ul {
    list-style-type: none;
    flex-flow: row wrap;
    gap: 1rem;
    display: flex;
    justify-content: center;

}

.navbar h1 {
    font-size: 4rem;
    color: var(--skobeloff);
}

#logo {
    font-size: 4rem;
    align-items: center;
}

.logo:hover {
    background-color: #e52d27;
    background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
}

#navbar-section-container a {
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    margin: 0 auto;
    font-size: 1.2rem;
    color: var(--white);
}

#navbar-section-container a:hover {
    background-color: #e52d27;
    background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
    color: var(--black);
    text-transform: full-width;

}


#content {
    width: auto;
    height: auto;

}

.fa-napster {
    font-size: 100%;
}

i {
    font-size: 150%
}

.resume-link {
    background-color: var(--midnight-green-eagle-green);
    border-radius: 1rem;
    cursor: pointer;
}


/* Hero Section styles */
#hero-section-container {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    padding: 0 150px;

    height: 100%;
    min-height: 100vh;
    width: 100%;
    justify-content: center;

}

#hero-section-container img {
    height: 350px;
    width: 350px;
    align-self: center;
    border-radius: 180px;
}

.hero-image {
    text-align: center;
    margin-top: 100px;

}

.hero-image img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.hero-text {
    font-family: "JetBrains Mono ExtraBold", monospace;
    color: var(--white);
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

#hero-image-container {
    width: 100%;
    height: auto;
    min-width: 300px;
}

.hero-text h1{
    font-weight: bold;
    font-size: 10vw;
    color: var(--white);
    font-family: "JetBrains Mono ExtraBold", monospace;
}
.hero-text h2{
    text-align: center;
    font-size: 8vw;
    font-family: "Roboto Light", sans-serif;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* About section started*/

#about-section {
    width: 100%;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    padding: 150px 100px 0;
    position: relative;
    top: 0;
    transition: 1s;
}


.about {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 40px;
}

.about-image-container {
    position: relative;
    align-self: center;

}

.about-text-container {
    align-self: center;
    position: static;
}

.about-text {
    text-align: left;
    color: white;
    opacity: 0.6;
    font-size: 20px;
    line-height: 40px;
    position: static;

}

.about-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.download-resume-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50px);
    padding: 10px 20px;
    color: var(--white);
    border: none;
    font-size: 16px;
    text-transform: capitalize;
    align-self: center;
    cursor: pointer;
    transition: .5s;
    background: rgba(0, 0, 0, 0.5);

}

.download-resume-btn:hover {
    background-color: #e52d27;
    background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
}

/*About section ended */


/* Skills Section*/
.skill-section {
    position: relative;
    margin: 100px 0;

}

.skills-heading {
    text-align: center;
    font-size: 60px;
    color: var(--white);
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 100px;
}

.skills-container {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    color: var(--white);
}

.skill-card {
    position: relative;

}

.skill-img {
    display: block;
    margin: auto;
    height: 200px;
}

.skill-name {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
    margin: 30px 0 20px;
}

.skill-info {
    text-align: center;
    opacity: 0.5;
    font-size: 18px;
    line-height: 30px;
}

.skill-level {
    position: absolute;
    top: 80px;
    right: 0;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 50%;
    border: 10px solid;
}

.skill-card:nth-child(1) .skill-level {
    background: #ff4f4f28;
    border-color: #ff4f4f;
    color: #ff4f4f;

}

.skill-card:nth-child(2) .skill-level {
    background: #ff4f4f28;
    border-color: #4fa0ff;
    color: #4fa0ff;
}

.skill-card:nth-child(3) .skill-level {
    background: #ff4f4f28;
    border-color: #3d3d;
    color: #3d3d;
}

.skill-card:nth-child(4) .skill-level {
    background: #f2f2;
    border-color: #961faf;
    color: #961faf;
}

.skill-card:nth-child(5) .skill-level {
    background: #ff4f4f28;
    border-color: #4e00fd;
    color: #4e00fd;
}

.skill-card:nth-child(6) .skill-level {
    background: #ff4f4f28;
    border-color: #fdea00;
    color: #fdea00;
}

/* Skills Section ended*/

/* Timeline Section started*/
.timeline {
    display: block;
    width: 50%;
    height: 50%;
    margin: 200px auto;
}

.timeline strong {
    color: var(--black);
}

.timeline-heading {
    text-align: center;
    font-size: 60px;

    color: var(--white);
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 150px;
}

.timeline-card {
    width: 45%;
    padding: 30px;
    border-radius: 10px;
    color: var(--white);
    display: block;
    position: relative;
    background: var(--midnight-green-eagle-green);
}

.timeline-card:nth-child(even) {
    margin-left: auto;
}

.timeline-card:nth-child(even):before {
    content: '';
    position: absolute;
    left: -15%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid var(--black);
}

.timeline-card:nth-child(even):after {
    content: '';
    position: absolute;
    left: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: var(--white);
    z-index: -1;
}

.timeline-card:nth-child(odd):before {
    content: '';
    position: absolute;
    right: -13%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid var(--black);
}

.timeline-card:nth-child(odd):after {
    content: '';
    position: absolute;
    right: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: var(--white);
    z-index: -1;
}

.timeline-card:nth-child(2), .timeline-card:nth-child(2):before {
    background: #ff4f4f;
}

.timeline-card:nth-child(3), .timeline-card:nth-child(3):before {
    background: #68c5dc;
}

.timeline-card:nth-child(4), .timeline-card:nth-child(4):before {
    background: #7b2eac;
}

.timeline-card:nth-child(5), .timeline-card:nth-child(5):before {
    background: #afdb13;
}

.timeline-card:nth-child(6), .timeline-card:nth-child(6):before {
    background: #ff4f7b;
}

.timeline-card:nth-child(7), .timeline-card:nth-child(7):before {
    background: #f8d3a6;
}

.card-title {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}

/* Timeline Section ended */
/* Project Section */
#project-section-container {
    min-height: 100vh;
    padding: 2rem;
    width: 100%;
    top: 0;
    transition: 1s;
}

#project-section-container strong {
    color: var(--black);
}

.project-heading {
    text-align: center;
    font-size: 100px;
    text-transform: capitalize;
    position: relative;
    font-weight: 300;
    margin-bottom: 50px;
    color: var(--white);
}

.project-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;

}

.project-card {
    height: 400px;
    width: 100%;
    position: relative;
}

.project-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: .5s;
}

.project-content {
    position: relative;
    padding: 40px;
    color: var(--white);
    transition: .5s;
    opacity: 0;
}

.project-tittle {
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
}

.project-info {
    margin: 40px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.project-card:hover .project-img {
    filter: blur(20px);
}

.project-card .project-content:hover {
    opacity: 1;
}

.project-atb {
    text-decoration: none;
}

/*Contact section started*/

.contact-section {
    font-size: 20px;
    position: relative;
    top: 0;
    transition: 1s;
    padding: 100px 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    color: var(--white);
}
#contact-section-container{
    min-height: 100vh;
}
form{

}
form input, form textarea {
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 30px;
    border: 1px solid var(--white);
    text-transform: capitalize;
    color: var(--white);
    padding: 5px 10px;

}

::placeholder {
    color: var(--white);


}

#message {
    height: 280px;
    resize: none;
    font-family: "JetBrains Mono", monospace;
}

.map {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 2px solid var(--white);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.map iframe {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


form .submit {
    background-color: var(--midnight-green-eagle-green);
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}

form .submit:hover {
    background-color: #e52d27;
    background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
    color: var(--black);
    transition: 0.5s;
    border-radius: 1rem;


}

/* Contact section ended */


/* Footer Section Started */
footer {
    display: block;
    text-align: center;
    margin: 0;

    color: var(--white);
    padding: 4rem 0;
}


footer ul {
    list-style-type: none;
    display: flex;
    margin: 1rem;
    padding: 0;
    flex-flow: row wrap;
    justify-content: center;

    align-items: center;
    font-family: oxygen, sans-serif;
    gap: 3rem;
    font-size: 3rem;


}

footer a:hover {
    color: #e52d27;
    opacity: 0.8;
}

footer [class*="fa-"] {
    font-size: 100%;

}

footer ul:hover {
    color: #F76B1C;
}

footer h3 {
    margin-top: 1rem;
}

/* Footer section ended */


/* Gradient to separate the sections */

.section-gradient-separator {
    border-radius: 1rem;
    height: 0.2rem;
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);


}


/* media queries for different screens */

@media only screen and (max-width: 768px) {
    .about{
        display: flex;
        flex-direction: column;
    }
    .card-container {
        flex-direction: column;
        font-size: 50%;

    }
    .about-text-container{
        width: 50%;
        font-size: 50%;
        text-align: center;
    }
    .about-image-container{
        width: 50%;
        height: 50%;
    }
    .skills-container{
        width: 50%;
    }
    .skill-le
    .timeline{
            width: 50%;
             height: 50%;
            font-size: 15px;
    }
    .card-title{
        font-size: 15px;
    }
    .project-card-container{
        display: flex;
        flex-direction: column;
        flex-flow: column;
    }
    .contact-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-flow: column;
    }
    form input, form textarea{
        width: 100%;
        height: 40px;
        font-size: 20px;
    }


}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .card-container {
        flex-direction: row;
        font-size: 50%;

    }
    .about-text-container{
        width: 100%;
        font-size: 50%;
        text-align: center;
    }
    .about-image-container{
        width: 100%;

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .about-text-container{
        width: 100%;
        font-size: 100%;
        text-align: left;
    }
}


