.root {
    font-family: "JetBrains Mono", monospace;
    /* CSS HEX */
    --white: #FFFFFFFF;
    --skobeloff: #006466ff;
    --midnight-green-eagle-green: #065a60ff;
    --midnight-green-eagle-green-2: #0b525bff;
    --midnight-green-eagle-green-3: #144552ff;
    --charcoal: #1b3a4bff;
    --prussian-blue: #212f45ff;
    --space-cadet: #272640ff;
    --dark-purple: #312244ff;
    --russian-violet: #3e1f47ff;
    --russian-violet-2: #4d194dff;
    --line-height: 1.7rem;
    --transition: 0.4s ease-in;
}

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);
}

body {
    font-size: medium;
    scroll-behavior: smooth;
    display: block;

}

#background {
    background-color: black;
}

section {
    min-height: 100vh;
}
section footer{
    min-height: fit-content;
}

/* Nav section styles*/
#navbar-section-container ul {
    list-style-type: none;
    flex-flow: row wrap;
    gap: 1rem;
    display: flex;
    justify-content: center;
}

.navbar h1 {
    font-size: 4rem;
    color: var(--skobeloff);
}

.navbar span {
    display: none;
}

.navbar {
    padding: 1rem;
    color: var(--white);


}

.navbar-toggler.toggler-example {
    cursor: pointer;
}

header {
    font-weight: bolder;
    font-size: 2rem;
    justify-content: center;

}


#navbar-section-container a {
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    margin: 0 auto;
    font-size: 1.2rem;
    color: var(--white);
}

#navbar-section-container a:hover {
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);

    color: black;
    border-radius: 1rem;
}

#content {
    width: auto;
    height: auto;

}

.fa-napster {
    font-size: 100%;
}

i {
    font-size: 150%
}

.resume-link {
    background-color: var(--skobeloff);
    border-radius: 1rem;
}

/*#background{*/
/*    height: 1080px;*/
/*    background-position: center; !* Center the image *!*/
/*    background-repeat: no-repeat; !* Do not repeat the image *!*/
/*    background-size: cover;*/
/*    background-image: url('../Images/background.png');*/
/*}*/

/* About Section styles */
#about-section-container {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    padding: 1rem;
    height: 100%;
    justify-content: center;
}

#about-section-container img {
    height: 350px;
    width: 350px;
    align-self: center;
    border-radius: 180px;
}

.about-image {
    text-align: center;
}

.about-text {
    font-family: "JetBrains Mono ExtraBold", monospace;
    color: var(--white);
    text-align: center;
    display: flex;
    flex-flow: column;

}

#about-section-container h1 {
    font-weight: bold;
    font-size: 12rem;
    color: var(--russian-violet);
    font-family: "JetBrains Mono ExtraBold", monospace;
}

#about-section-container h2 {
    color: var(--skobeloff);
    text-align: center;
    font-size: 8rem;
    font-family: "Roboto Light", sans-serif;

}

/* Project Section */
#project-section-container header {
    text-align: center;
    font-size: 4rem;
    color: var(--white);
}

.card-container {
    display: flex;
    margin: 2rem;
    padding: 2rem;
    flex-flow: row;
}

.card {
    margin: 1rem;
    background-color: var(--space-cadet);
}

/* Footer Section Started */
/* Footer section style */
footer {
    display: block;
    text-align: center;
    margin: 0;
    color: var(--skobeloff);
    padding: 4rem 0;
}


footer ul {
    list-style-type: none;
    display: flex;
    margin: 1rem;
    padding: 0;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-family: oxygen, sans-serif;
    gap: 3rem;
    font-size: 3rem;


}

footer [class*="fa-"] {
    font-size: 100%;

}

footer ul:hover {
    color: #F76B1C;
}

footer h3 {
    margin-top: 1rem;
}

/* Footer section ended */

@media screen and (max-width: 720px) {

    .card-container {
        flex-direction: column;
    }

    .navbar span {
        font-size: 2rem;
        color: #F76B1C;
        display: initial;
    }

}

.section-gradient-separator {
    border-radius: 1rem;
    height: 0.2rem;
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);

}